.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 0.5em;
  @media (max-width: 500px) {
    flex-direction: column;
  }

  *:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
}

.github a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}